[Unit]
Description=Lion, a simple, modular Discord bot from scratch

[Service]
Type=simple
WorkingDirectory=/opt/lion
ExecStart=/usr/bin/python3 /opt/lion/liond.py

[Install]
WantedBy=multi-user.target
